@page "/getorders"

@inject ECommerce.Blazor.Client.Services.HttpClientOrdersService client
<h1>get all orders</h1>
@if (result == null)
{
    <p>loading..</p>
}
else
{
    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">

            <EditForm Model="@orders" OnValidSubmit="Submit">

                @foreach (var product in result.product)
                {
                <td>
                    @order.CustomerId
                    @order.CustomerId
                    @order.Total
                    @order.Items

                </td>
                    <br>
                }

                <div class="form-group">
                    <input type="submit" value="Opret" class="btn btn-primary" />
                </div>
            </EditForm>
        </div>
    </div>
}
@code {

    //[Parameter]
    //public int Id { get; set; }
    //[Parameter]
    //public string Name { get; set; }
    //[Parameter]
    //public decimal Price { get; set; }
    //[Parameter]
    //public int Inventory { get; set; }



    List<ECommerce.Blazor.Shared.Models.Order> result = new List<ECommerce.Blazor.Shared.Models.Order>();

    public async void Submit()
    {
        result = await client.GetAllOrdersAsync();

        await client.GetAllOrdersAsync();
    }

}